{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/plants" method="POST">
        <fieldset>
            <legend>Edit Plant</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ plant.name }}"
                value="{{ plant.name }}"
                class="form-control"
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="description" 
                placeholder="{{ plant.description }}" 
                value="{{ plant.description }}" 
                class="form-control"
            >
            <label class="form-label">Amount:</label>
            <input 
                type="number" 
                name="sun_requirement"
                value="{{ plant.sun_requirement }}"
                class="form-control"
            >
            <label class="form-label">Ready:</label>
            {%- comment -%} <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
                {% if plant.ready %}
                    checked
                {% endif %}
            > {%- endcomment -%}
        </fieldset>
        <input type="submit" value="Edit Plant" class="btn btn-success">
    </form>
</div>
{% endblock %}