{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        <form action="/plants/{{plant.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit {{plant.name}}</legend>
                <label class="form-label">Name: </label>
                <input 
                    class="form-control"
                    type="text" 
                    name="name" 
                    placeholder="{{ plant.name }}"
                    value="{{ plant.name }}"
                >

                <label class="form-label">Scientific Name: </label>
                <input 
                    class="form-control"
                    type="text" 
                    name="scientific_name" 
                    placeholder="{{ plant.scientific_name }}"
                    value="{{ plant.scientific_name }}"
                >
                <label class="form-label">Description:</label>
                <textarea 
                    class="form-control"
                    type="string" 
                    name="description" 
                    placeholder="{{ plant.description }}" 
                    value="{{ plant.description }}" 
                >
                </textarea>

                <label class="form-label">Perennial or Annual:</label>
                <select class="form-select" aria-label="{{ plant.perennial }}" value="{{ plant.perennial }}" name="perrenial">
                    <option selected aria-label="{{ plant.perennial }}" value="{{ plant.perennial }}">Perennial or Annual</option>
                    <option value="Perennial">Perennial</option>
                    <option value="Annual">Annual</option>
                </select>

                <label class="form-label">Sun conditions:</label>
                <select class="form-select" aria-label="Default select example" name="sun_requirement" aria-placeholder="{{ plant.sun_requirement }}">
                    <option selected aria-placeholder="{{ plant.sun_requirement }}" value="{{ plant.sun_requirement }}"></option>
                    <option value="Full sun">Full sun</option>
                    <option value="Part sun">Part sun</option>
                    <option value="Part shade">Part shade</option>
                    <option value="Full shade">Full shade</option>
                </select>

                <label class="form-label">Add image:</label><br>
                <div class="col-sm-2 imgUp">
                    <div class="imagePreview"></div>
                    <label class="btn btn-primary">Upload
                    <input class="uploadFile img" type="file" name="image" placeholder="{{ plant.image }}" value="{{ plant.image }}">
                    {%- comment -%} style="width:0px;height:0px;overflow:hidden;" {%- endcomment -%}
                    </label>
                    <i class="fa fa-times del"></i>
                </div>

            </fieldset>
            <input 
                class="btn btn-success"
                type="submit" 
                value="Submit Edits for {{plant.name}}" 
            >
        </form>
    </div>

{% endblock %}