{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Plants</h2>
    <div class="row">
        {% for plant in plants %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ plant.attributes.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Perennial: {{ plant.attributes.perennial }}
                </h5>
                <p class="card-text">
                    Plantings: {{ plant.relationships.plantings }}
                </p>
                <p class="card-text">
                    seeds: {{ plant.relationships.seeds }}
                </p>
                <p class="photo">
                    {{ plant.relationships.photos }}
                </p>
                <a href="/examples/{{ plant.id }}" class="btn btn-info">
                    View {{ plant.attributes.name }}
                </a>
            </div> 
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}