{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Plants</h2>
    <div class="row">
        {% for plant in plants %}
        <div class="card" style="width: 18rem; background-color: rgb(142, 219, 142)">
            <h5 class="card-header">{{ plant.name }}</h5>
            <div class="card-body">
                {%- comment -%} <h5 class="card-title">
                    Perennial: {{ plant.perennial }}
                    {%- comment -%} {{ isPerennial? 'Perenial':'Annual' }} 
                </h5> {%- endcomment -%}
                <h6 class="card-text">
                    {{ plant.scientific_name }}
                </h6>
                {%- comment -%} <p class="card-text">
                    Sun Conditions: {{ plant.plantings.sunniness }}
                </p> {%- endcomment -%}
                <img class="img-thumbnail" style="width: 100%; height: 200px;" src={{ plant.thumbnail_url }} alt={{ plant.name }}>
                <a href="/plants/{{ plant.id }}" class="btn btn-secondary">
                    View {{ plant.name }}
                </a>  
            </div> 
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{%- comment -%} This is what our plant objects look like {%- endcomment -%}
 {%- comment -%} {
    _index: 'crops_production_20200824003628370',
    _type: '_doc',
    _id: '520',
    _score: 3.871201,
    name: 'genovese basil',
    description: null,
    slug: 'genovese-basil',
    alternate_names: [],
    scientific_names: [ 'ocimum basilicum' ],
    photos_count: 5,
    plantings_count: 14,
    harvests_count: 1,
    planters_ids: [
      1781,   44,  197, 134,
       509,   41,   41, 509,
       433, 1878, 1643,  15,
        15,   15
    ],
    has_photos: true,
    thumbnail_url: 'https://farm5.staticflickr.com/4276/34997009072_4b1598f6a9_z.jpg',
    scientific_name: 'ocimum basilicum',
    created_at: 1425507569,
    id: '520'
  }
] {%- endcomment -%}