{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ plant.name }}
            {%- comment -%} {% if example.ready %}
            Ready
            {% else %}
            Not Ready
            {%endif%} {%- endcomment -%}
        </h2>
        <h6>{{ plant.description }}</h6>
        <h3>Sun conditions: {{ plant.sunniness }}</h3>
        {% if user.owner == userId %}
        <div class="btn-group">

            <a href="/plants/{{ plant.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/plants/{{ plant.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}