{% layout 'layout.liquid'%}
{% block content %}

    <div>
        {% if plants.length > 0 %}
                <h2 class="display-6">My Plants</h2>
                <div class="row">
                    {% for plant in plants %}
                    <div class="card" style="width: 18rem">
                        <h5 class="card-header">{{ plant.name }}</h5>
                        <div class="card-body">
                            <h6 class="card-text">
                                {{ plant.scientific_name }}
                            </h6>
                            <img class="img-thumbnail" style="width: 100%; height: 200px;" src={{ plant.image }} alt={{ plant.name }}>
                            <a href="/plants/mine/{{ plant.id }}" class="btn btn-secondary">
                                View {{ plant.name }}
                            </a>  
                        </div> 
                    </div>
                    {% endfor %}
                </div>
        {% else %}
            <div>
                <h2 class="display-6">No plants yet... time to add some!</h2>
            </div>
        {% endif %}
    </div>

{% endblock %} 