{% layout 'layout.liquid'%}
{% block content %}
    {% if plants.length > 0 %}
        <div>
            <h2 class="display-6">Your Plants</h2>
            <div class="row">
                {% for plant in plants %}
                <div class="card" style="width: 18rem; background-color: rgb(142, 219, 142)">
                    <h5 class="card-header">{{ plant.name }}</h5>
                    <div class="card-body">
                        <h6 class="card-text">
                            {{ plant.scientific_name }}
                        </h6>
                        <img class="img-thumbnail" style="width: 100%; height: 200px;" src={{ plant.thumbnail_url }} alt={{ plant.name }}>
                        <a href="/plants/mine/{{ plant.id }}" class="btn btn-secondary">
                            View {{ plant.name }}
                        </a>  
                    </div> 
                </div>
                {% endfor %}
            </div>
    {% else %}
        <div>
            <h2 class="display-6">No plants yet... time to add some!</h2>
        </div>
    {% endif %}
</div>
{% endblock %}